@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --shadow-custom-project: 40px 180px 80px 3px rgba(28, 29, 34, 0.06);
  --font-exo-2: "Exo 2", sans-serif;
  --font-baloo-2: "Baloo 2", sans-serif;
}

.project-list {
  position: relative;
  /* padding-left: 20px; Space for the line */
}

.project-list::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3px; /* Thickness of the line */
  height: 100%;
  /* border-radius: 2px; */
  background-color: #e5e5e5;
}

.dark .project-list::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3px; /* Thickness of the line */
  height: 100%;
  /* border-radius: 2px; */
  background-color: #ffffff1a;
}

.project-list-element {
  display: flex;
  align-items: center; /* Center the line vertically */
}

.project-list-element::before {
  content: "";
  width: 20px;
  height: 3px;
  margin-left: 3px;
  background-color: #e5e5e5;
}

.dark .project-list-element::before {
  content: "";
  width: 20px;
  height: 3px;
  margin-left: 3px;
  background-color: #ffffff1a;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
  scroll-behavior: smooth;
}

/* Track */
::-webkit-scrollbar-track {
  background: #c9c9c9;
}

.dark ::-webkit-scrollbar-track {
  background: #ffffff77;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

.dark ::-webkit-scrollbar-thumb {
  background: #2b7fff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: #227aff;
}

/* Handle on active */
.dark ::-webkit-scrollbar-thumb:active {
  background: #0056b3;
}

/* #################### POPOVER #################### */
.driver-popover.driverjs-theme {
  background-color: #d6267c;
  color: #000;
  min-width: 300px;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.driver-popover.driverjs-theme .driver-popover-title {
  font-size: 20px;
}

.driver-popover.driverjs-theme .driver-popover-title,
.driver-popover.driverjs-theme .driver-popover-description,
.driver-popover.driverjs-theme .driver-popover-progress-text {
  color: #000;
}

.driver-popover.driverjs-theme .driver-popover-progress-text {
  margin-right: 7px;
}

.driver-popover.driverjs-theme button:not([aria-label="Close"]) {
  flex: 1;
  text-align: center;
  background-color: #000000ba;
  color: #ffffff;
  border: 2px solid #000;
  text-shadow: none;
  font-size: 14px;
  border-radius: 6px;
  /* margin-left: 10px; */
  width: fit-content;
}

.driver-popover.driverjs-theme button:hover:not([aria-label="Close"]) {
  background-color: #000;
  color: #ffffff;
}

.driver-popover.driverjs-theme .driver-popover-navigation-btns {
  justify-content: space-between;
  gap: 3px;
}

.driver-popover.driverjs-theme .driver-popover-close-btn {
  color: #9b9b9b;
}

.driver-popover.driverjs-theme .driver-popover-close-btn:hover {
  color: #000;
}

.driver-popover.driverjs-theme
  .driver-popover-arrow-side-left.driver-popover-arrow {
  border-left-color: #fde047;
}

.driver-popover.driverjs-theme
  .driver-popover-arrow-side-right.driver-popover-arrow {
  border-right-color: #fde047;
}

.driver-popover.driverjs-theme
  .driver-popover-arrow-side-top.driver-popover-arrow {
  border-top-color: #fde047;
}

.driver-popover.driverjs-theme
  .driver-popover-arrow-side-bottom.driver-popover-arrow {
  border-bottom-color: #fde047;
}
